:root {
    font-size: 62.5%;
    --light: antiquewhite;
    --medium: palevioletred;
    --dark: rgb(205, 233, 150);
}

body {
    color: var(--light);
    background: var(--medium);
}

header {
    text-align: center;
}
/* h1 {

} */

.card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    
}

.card {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    border: 2px dotted var(--dark);
    margin: 20px;
  }

  .card-header {
    border: 2px solid var(--light);
    border-radius: 5px;
    padding: 10px;
    color: var(--medium)
    padding: 20px; 
    margin: 20px
  }