:root {
  font-size: 62.5%;
  --light: antiquewhite;
  --medium: palevioletred;
  --dark: rgb(205, 233, 150);
}

body {
  color: var(--light);
  background: var(--medium);
}

header {
  text-align: center;
}
/* h1 {

} */
.row1 {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
gap: 20px;
}
}

.card-column {
	display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    padding: 1.5rem;
    transition: 500ms ease-in-out;
    margin-bottom: 1.5rem;
    border-style: dashed;
    border-color: var(--dark);
    border-width: 2px;
}

/* .card {
	flex: 0 0 100%;
  width: auto;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  border: 2px dotted var(--dark);
  margin: 20px;
  } */

.card-header {
	flex: 0 0 100%;
  font-family: sans-serif;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color:#fff;
  color: var(--dark);
  margin-top: -45px;
  background-color: var(--light));
  padding-left: 10px;
  /* border: 2px solid var(--light);
  padding: 10px;
  color: var(--light);
  text-align: center;
	width: 50%;
	margin-top: -45px;
	border-radius: 8px;
  border-width: 2px; */
  }

	.code-block {
    flex: 0 0 100%;
    padding: 5px;
    background-image: linear-gradient var(--light) 0%,
     var(--dark);
     border-radius: 8px;
     color: #fff;
     user-select: all;
}